body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  font-weight: 1.5rem;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

#cartContainerBadge {
  margin-top: auto;
}

#badge {
  max-height: 1.5rem;
  border-radius: 28%;
  padding-left: 0.4rem;
}

.badge {
  padding-left: 0.54rem;
}

#GoBackBtn {
  margin-top: 0.5rem;
}

#place-order {
  margin: auto;
}
